<%@ Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="WebApplication1_Default" %>

<html>
<head runat="server" >
   <title>Document Browser</title>
   <script src="https://code.jquery.com/jquery-latest.min.js" type="text/javascript" ></script>
 <script type="text/javascript">

    
    
    $.extend({   
    getUrlVars: function(){     
    var vars = [], hash;     
    var hashes = window.location.href.slice(window.location.href.indexOf('?') + 1).split('&');     
    for(var i = 0; i < hashes.length; i++)     
    {       
    hash = hashes[i].split('=');       
    vars.push(hash[0]);       
    vars[hash[0]] = hash[1];     
    }     
    return vars;   
    },   
    getUrlVar: function(name){     
    return $.getUrlVars()[name];   
    } }); 
    
    if ($.getUrlVar("inside") != null) { 
    
        jQuery(document).ready(function() {
        if ($.getUrlVar("inside") == "1"){
        
     $('#btnBack').css('background', 'url(back_btn.png) no-repeat');
     $('#btnBack').css('display', 'block');
     $('#btnBack').css('border', '0');
     $('#btnBack').css('display', 'block');
     $('#btnBack').css('width', '50px');
     $('#btnBack').css('height', '25px');
    }
    
    

    
    
    
    }); 
}

</script>
<style>
body {background-color: #fff;}
showme {display: block; }
hideme {display: none;}
h1 {font-family: Arial;font-size: 16px; font-weight:normal;}
tr {height:15px;}
td {font-family: Arial;font-size: 12px;}
</style>
  <script>
  function goBack() {
      window.history.back();
  }
</script>
</head>
<body>
   <img src="https://clients.healthwise.org/App_Themes/clientportal/images/logo.jpg"> 
    <hr>
    <pre>
   <button onclick="goBack()" id="btnBack" style="display:none;" ></button>
<table>
<asp:Label id="Label1" runat="server" Text="" style="line-height:18px;" ></asp:Label>
    </table>    
    </pre>
    
</body>
</html>